<div flex layout="row" layout-align="center center" style="margin-top: 100px">
    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="80" class="md-whiteframe-z2">
        <md-toolbar class="md-theme-blue-light-dark">
            <h2 class="md-toolbar-tools">
                <span><i class="fa fa-cong"></i> Setting</span>
            </h2>
        </md-toolbar>
        <md-content class="md-padding">
            <div flex-sm="100" flex-gt-sm="80" layout-sm="column">
                <form name="contactForm">
                    <md-input-container>
                        <label>Application Key</label>
                        <input ng-model="settings.applicationKey" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Application Secret</label>
                        <input ng-model="settings.applicationSecret" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Authorization Application URL</label>
                        <input ng-model="settings.authserverURL" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Redirect URL</label>
                        <input ng-model="settings.redirectURL" required>
                    </md-input-container>



                    <md-button type="submit" ng-click="save()" class="md-raised md-success"><i class="fa fa-save"></i> Save</md-button>
                    <md-button type="button" ng-click="cancel()" class="md-raised md-success"><i class="fa fa-undo"></i> Cancel</md-button>
                </form>
            </div>
        </md-content>
    </div>
</div>

